.footer {
  width: 100%;
  padding: 1rem 0;
  background-color: darkslateblue;
}

.footer-container {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.left {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.location {
  display: flex;
  margin-bottom: 0.8rem;
}

.location p {
  line-height: 30px;
}

.location p:hover {
  color: lightgreen;
  transition: all 0.2s ease;
}

.mui:hover {
  color: lightgreen;
  transition: all 0.2s ease;
}

.right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

h4 {
  font-size: 1.1rem;
  padding-bottom: 0.7rem;
}

.h4:hover {
  color: lightgreen;
  transition: all 0.2s ease;
}

p {
  font-size: 1.1rem;
}

@media screen and (max-width: 505px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
